<html>
    <body>
        <h1>Predict Default</h1>
        <form action="/" method="post">
            <p>Please Enter the Income </p>
            <p><input type="number" step= 100 name = "income"></p>
            <p>Please Enter the Age: </p>
            <p><input type="number" step= 1 name = "age"></p>
            <p>Please Enter the loan amount: </p>
            <p><input type="number" step= 100 name = "loan"></p>
            <p><input type="submit" value="Enter" ></p>
        </form>
        <p>{{result}}</p>
    </body>
</html>
